<div id="sub">
        <h3 style="color: #00fecb">Hollywood Movies</h3><br>
        <table>
                <tr>
                        <td><img src="/assets/6.jpg" alt="Godzilla vs Kong" height="300" width="200"><br>
                                <p>Godzilla vs Kong</p>
                        </td>&nbsp;&nbsp;
                        <td><img src="/assets/10.jpg" alt="The Mouritanian" height="300" width="200"><br>
                                <p>The Mouritanian</p>
                        </td>&nbsp;&nbsp;
                        <td><img src="/assets/2.jpg" alt="Tom & Jerry" height="300" width="200"><br>
                                <p>Tom & Jerry</p>
                        </td>&nbsp;&nbsp;
                        <td><img src="/assets/9.jpg" alt="Voyagers" height="300" width="200"><br>
                                <p>Voyagers</p>
                        </td>&nbsp;&nbsp;
                </tr>
        </table>
</div>